<%- include('partials/header') %>

<div class="service">
    <img src="img/image3.jpeg" alt="">
<h4>Welcome to our emergency <br> website, your one-stop destination for <br> crisis. We understand <br> the urgency and stress
        that emergencies can bring, <br> which  is why we are dedicated in <br> providing timely and  accurate <br> updates to help you to navigate 
       through any situation with <br> confidence. Weather  you're facing <br> natueral disasters, medical <br> emergencies, or other unforeseen 
       events, our plantform is  <br>  designed to empower you with knowledge and tools  <br>  needed  to stay safe and inform the  <br> community about real-time 
       weather alerts and evacution <br> procedures to first aid tips <br> and emergency contact information , we aim  to <br> be your reliable 
       companions in time of needs </h4>
      
</div>

<%- include('partials/footer') %>


